    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-size: 20px;    
    }

    h2 {font-size: 25px;  
        padding: 18px;
        color: #284e7b;
        text-align: center;
        width: 50%;
}

/*BARRE DE NAVIGATION*/

nav {
  position: relative;
  background-color: #add4f3;
  background-image: linear-gradient(to bottom, #add4f3, #eff3f5);
  margin-bottom: 10px;
  border-bottom: solid 2px #add4f3;
  height: 90px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav h1 {
  text-align: center;
  color: #284e7b;
  margin-left: 5%;
  font-size: 25px;
}
.barre {
  width: 60%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-content: flex-end;
  margin-right: 5%;
  margin-left: 18%;
}

div.menu a {
  color: #8f908d;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
}

div.menu a:hover:not(.active) {
  background-color: #add4f3;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  opacity: 0.6;
}

.active {
  background-color: #284e7b;
}

        /*CORPS*/  
main{
  background-color: #eff3f5;
}

form{
  margin: 0 auto;
  width: 50%;
  }

.segment {
  padding:  20px;
}

input, textarea {
  border: 0;
  outline: 2px;
  outline-offset: 10px;
  margin: 15px;
  background-color:#659ABD;
  text-shadow: 1px 1px 0#284e7b;
  box-shadow:  inset 2px 2px 5px #659ABD, inset -5px -5px 10px;
  color: #eff3f5;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border: 3px solid #add4f3;
  border-radius: 10px;
  padding: 5px;
}

  label {
    display: block;
 
    margin-bottom: 5px;
    width: 50%;
  }

  textarea {
    width: 200%;
  }
  


      button {
        margin-top: 5px;
        text-align: center;
        border-radius: 10px;
        display:block;
        width:150px;
        line-height:50px;
         background-color: #659ABD;
         box-shadow:  inset 2px 2px 5px #659ABD, inset -5px -5px 10px;
         color: #eff3f5;
    border: 3px solid #add4f3;

          }
          button:hover {
          background-color: #add4f3;
          }
      
      
/*PIED DE PAGE*/

        footer {
          position: fixed;
          width: 100%;
          height: 40px;
          bottom: 0;
          background-color: #add4f3;
          background-image: linear-gradient(to bottom, #eff3f5, #add4f3);
          margin-top: 10px;
          border-top: solid 2px #add4f3;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          color: #284e7b;
        }
        
        div.renvoie {
          width: 1000%;
          justify-content: space-between;
          align-items: center;
          display: flex;
          align-content: center;
          margin-left: 10%;
          margin-right: 5%;
        }
        
        div.renvoie1 {
          color: #284e7b;
          text-align: center;
        }
        
        div.renvoie2 {
          color: #284e7b;
          text-align: center;
          padding: 30px 45px;
          margin-left: 10%;
        }
        
        div.renvoie3 {
          color: #284e7b;
          text-align: center;
        }
