* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
  min-height:100vh ;
  position: relative;
  background-color: #eff3f5;
}


/*BARRE DE NAVIGATION*/

header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #add4f3;
  background-image: linear-gradient(to bottom, #add4f3, #eff3f5);
  border-bottom: solid 5px #add4f3;
  }
  
  .nom{
  width: 25%;
  color:#284e7b ;
  font-size: 25px;
  margin: 20px;
  }
  
  nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  font-size: 20px;
  }
  
  nav a{
    color: #8f908d;
    padding: 15px 25px;
  }
  
   nav a:hover {
    background-color: #add4f3;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    opacity: 0.6;
  }

   a:active {
  color: #284e7b;
  }
  
/*CORPS*/

main{
  width: 100%;
  background-color: #eff3f5;
}

.legende {
  color: #283e7c;
  font-size: 23px;
  border-bottom: solid 4px #8f908d;
  height: 5vh;
display: flex; 
justify-content: center;
  align-items: center; 
}

.corps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.gauche {
width: 60%;
}

.segment {
  text-align: center;
}

h2 {
  font-size: 27px;
  color: #0577be;
  margin-top: 10%;
  margin-bottom: 5%;
}


.ligne1,
.ligne2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

input{
 padding-left: 20px;
}

.ligne3 {
  width: 95%;
  height: 250px;
 margin-left: 20px;
 padding-left: 15px;
 padding-top: 15px;
}

.ligne4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-10{
  margin-right: 10px;
}

.ml-10{
  margin-left: 10px;
}

.mt-50{
  margin-top: 50px;
}

input,
textarea,
button {
  border: 0;
  outline: 0;
  resize: none;
  box-shadow: inset 2px 2px 5px #add4f3, inset -5px -5px 10px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  color: #284e7b;
  background-color: #eff3f5;
  text-shadow: 1px 1px 0 #284e7b;
  border-radius: 5px;
 margin-bottom: 10px;


  /* A MODIFIER POUR POLICE */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
}

button {
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.focus {
  box-shadow: inset 1px 1px 2px #add4f3, inset -1px -1px 2px #eff3f5;
}

input:hover,
textarea:hover {
  box-shadow: -2px -2px 5px #eff3f5, 2px 2px 5px #add4f3;
}

:active {
  box-shadow: inset 1px 1px 2px #add4f3, inset -1px -1px 2px color#EFF3F5;
}

div input {
  height: 100px;
  text-align: left;
}

button:hover {
  background-color: #add4f3;
}

.droit {
  border-left: 4px solid#8f908d;
  background-color: #eff3f5;
  width: 40%;
  height: 50vh;
  display: flex;
justify-content: center;
  flex-direction: column;
}

.métier{
height: 30%;
text-align: center;
}

.métier   p{
  color: #284e7b;
  font-size: 18px;
  line-height: 30px;
}

.métier   p-1{
  color: #0577be;
  font-size: 18px;
  line-height: 30px;
}

.métier p b{
  font-size: 22px;
}

.contact  p{
  color: #284e7b;
  text-shadow: 1px 1px 1px color #eff3f5;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}
.contact p b{
  font-size: 19px;
}
/*PIED DE PAGE*/

footer {
  width: 100%;
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 0;
  background-color: #add4f3;
  background-image: linear-gradient(to bottom, #eff3f5, #add4f3);
  border-top: solid 2px #add4f3;
  color: #284e7b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

