/* default
--------------------------------------------------------------- */
.row {
  width: 100%;
  margin: 0 auto;
}

.column,
.columns {
  position: relative;
  min-height: 1px;
  float: left;
  width: 100%;
}

/* removed gutters */
.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed,
.columns.collapsed {
  padding: 0;
}

/* block grids
--------------------------------------------------------------------- */

.bgrid-third [class*="column"] {
  width: 33.333333%;
}

/* smaller screens
--------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  /* block grids on small screens */

  .s-bgrid-halves [class*="column"] {
    width: 50%;
  }
}

/* mobile wide/smaller tablets
--------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  .row {
    width: 450px;
    margin: 0 auto;
    padding: 0;
  }

  .column,
  .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: 450px;
  }
}
