*{font-size: 16px;
color: #AE1100;/*red*/
color: #EBECF0;/*bg*/
color: #BABECC;/*shadow*/
color: #FFF;/*white*/
}
body {
  background-color:#EBECF0;
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
}

div, p {
  color: #BABECC;
  text-shadow: 1px 1px 1px  color #FFF;
}


form {
  margin: 0 auto;
  width: 50%;
}

.segment {
  padding:  0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  border-radius:20;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  display: block;
  margin-bottom: 10.5;
  width: 100%;
}

input {
  margin-right: 10;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px;
  color: #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px 
     #FFF;
  }


button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
  :hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  
  :active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px color#FFF;
  }
  
  .icon {
    margin-right: 10;
  }
  
  .unit {
    border-radius: 10;
    line-height: 0;
    width: 60;
    height: 60;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 10;
    font-size: 10.2;
  }
    .icon {
      margin-right: 0; 
    }
  
  
  .red {
    display: block;
    width: 100%;
    color:#AE1100;
  }


.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
  label {
    margin: 0;
    flex: 1;
  }
