* {
  font-size: 20px;
}

div,
p {
  color: #284e7b;
  text-shadow: 1px 1px 1px color #add4f3;
}

form {
  margin: 0 auto;
  width: 50%;
}

.segment {
  padding: 0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  border-radius: 20;
  background-color: #eff3f5;
  text-shadow: 1px 1px 0 #284e7b;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
}

label {
  display: block;
  margin-bottom: 10.5;
  width: 100%;
}

input {
  margin-right: 10;
  box-shadow: inset 2px 2px 5px #add4f3, inset -5px -5px 10px;
  color: #eff3f5;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  color: #284e7b;
}
.focus {
  box-shadow: inset 1px 1px 2px #add4f3, inset -1px -1px 2px #eff3f5;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #eff3f5, 5px 5px 20px #add4f3;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
:hover {
  box-shadow: -2px -2px 5px #eff3f5, 2px 2px 5px #add4f3;
}

:active {
  box-shadow: inset 1px 1px 2px #add4f3, inset -1px -1px 2px color#EFF3F5;
}

div input {
  height: 100px;
  text-align: left;
}

.button {
  text-align: center;
  border-radius: 6px;
  border-color: #284e7b;
  color: #284e7b;
  display: block;
  width: 150px;
  line-height: 50px;
  background-color: #eff3f5;
  margin-left: 150px;
}
button:hover {
  background-color: #add4f3;
}
